@import "tailwindcss";

@theme {
  --font-sans: var(--font-syne), var(--font-inter);
  --font-serif: var(--font-bodoni), serif;
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-pink-500 via-purple-500 to-indigo-500;
  }

  .glass-panel {
    @apply bg-white/5 backdrop-blur-md border border-white/10;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}
